<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">News for the Masses</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Right Now</a></li>
            <li><a href="#">Events Tonight</a></li>
            <li><a href="#">Car chases</a></li>
            <li><a href="#">Weather</a></li>
            <li><a href="#">Style</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"
             data-toggle="dropdown" role="button"
             aria-expanded="false">Storytime<span
             class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Submit a story</a></li>
            <li><a href="#">Make up a story</a></li>
            <li><a href="#">Tell us your wildest dreams</a></li>
            <li><a href="#">Tell us your greatest fears</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p class="flash"><%= flash.notice %></p>

<div class="container-fluid">
  <%= yield %>
</div>


</body>
</html>
