<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= current_user %>
<% if current_user %>
  <h1>
    <%= "Hello  #{current_user.email}!"%>
  </h1>
  <%= button_to "Log Out", session_url(current_user.id), method: :delete %>
<% else %>
  <%= "Please log in!" %>
<% end %>

<%= yield %>

</body>
</html>
