<h1>Log in</h1>

<ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |err_msg| %>
      <li><%= err_msg %></li>
    <% end  %>
  <% end %>
</ul>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user-email">Email</label>
    <input type="email" name="user[email]" value="<%= @user.email %>">

  <label for="user-password">Password</label>
    <input type="password" name="user[password]" value="<%= %>">

    <input type="submit" value="Create User">
</form>
